<form action="/new-post" method="post" enctype="multipart/form-data">
    <h1>Make a new Post</h1>
    <label> content:
        <textarea name="content" cols="30" rows="10"></textarea>
    </label>
    <label>Add Photo:
        <input type="file" name="post-picture">
    </label>
    <label>Photo caption:
        <input type="text" name="picName">
    </label>
</form>